.charts-container {
    display: grid;
    height: 30vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-right: 5px;
}

#grafica1 {
    grid-column: 1 / 2;
    border-radius: 0px;
}

#grafica2 {
    grid-column: 2 / 3;
    border-radius: 0px;
}

#grafica3 {
    grid-column: 3 / 4;
    border-radius: 0px;
}

#grafica4 {
    grid-column: 1 / 4;
    border-radius: 0px;
}

#indicator-grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 5px;
}

#dashboard-container {
    overflow-y: scroll;
    max-height: 66vh;
    max-width: 170vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
}