.charts-container {
    display: grid;
    height: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 10px;
}

#grafica1 {
    grid-column: 1 / 2;
}

#grafica2 {
    grid-column: 2 / 3;
}

#grafica3 {
    grid-column: 3 / 4;
}

#grafica4 {
    grid-column: 1 / 4;
}