<nav id="menu" style="overflow-y: auto;">
    <ul>
        <li class="menu-item">
            <a routerLink="/">
                <mat-icon class="menu-icons">dashboard</mat-icon>
                Dashboard
            </a>
        </li>
        <li class="menu-item-expand">
            <mat-expansion-panel class="sub-menu-principal" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon class="menu-icons">archive</mat-icon>
                    Almacen
                  </mat-panel-title>
                  <mat-icon class="menu-arrow-icons">keyboard_arrow_down</mat-icon>
                </mat-expansion-panel-header>
                <a routerLink="/marcas">
                    <mat-icon class="submenu-icons">copyright</mat-icon>
                    Marcas
                </a>
                <a routerLink="/categorias">
                    <mat-icon class="submenu-icons">category</mat-icon>
                    Categorías
                </a>
                <a routerLink="/presentaciones">
                    <mat-icon class="submenu-icons">local_convenience_store</mat-icon>
                    Presentaciones
                </a>
                <a routerLink="/productos">
                    <mat-icon class="submenu-icons">store</mat-icon>
                    Productos
                </a>
                <a routerLink="/inventario">
                    <mat-icon class="submenu-icons">assignment</mat-icon>
                    Inventario
                </a>
              </mat-expansion-panel>
        </li>
        <li class="menu-item-expand">
            <mat-expansion-panel class="sub-menu-principal" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon class="menu-icons">local_shipping</mat-icon>
                    Compras
                  </mat-panel-title>
                  <mat-icon class="menu-arrow-icons">keyboard_arrow_down</mat-icon>
                </mat-expansion-panel-header>
                <a routerLink="/proveedores">
                    <mat-icon class="submenu-icons">assignment_ind</mat-icon>
                    Proveedores
                </a>
                <a routerLink="/compras">
                    <mat-icon class="submenu-icons">add_shopping_cart</mat-icon>
                    Compras
                </a>
              </mat-expansion-panel>
        </li>
        <li class="menu-item">
            <a routerLink="/ventas">
                <mat-icon class="menu-icons">shopping_cart</mat-icon>
                Ventas
            </a>
        </li>
        <li class="menu-item">
            <a routerLink="/">
                <mat-icon class="menu-icons">supervisor_account</mat-icon>
                Usuarios
            </a>
        </li>
    </ul>
</nav>