<nav id="menu">
    <ul>
        <li>
            <a href="#">
                <mat-icon class="menu-icons">home</mat-icon>
                Inicio
                <mat-icon class="menu-arrow-icons">keyboard_arrow_right</mat-icon>
            </a>
        </li>
        <li>
            <a routerLink="/proveedores">
                <mat-icon class="menu-icons">assignment_ind</mat-icon>
                Proveedores
                <mat-icon class="menu-arrow-icons">keyboard_arrow_right</mat-icon>
            </a>
        </li>
        <li>
            <a routerLink="/marcas">
                <mat-icon class="menu-icons">copyright</mat-icon>
                Marcas
                <mat-icon class="menu-arrow-icons">keyboard_arrow_right</mat-icon>
            </a>
        </li>
        <li>
            <a routerLink="/productos">
                <mat-icon class="menu-icons">store</mat-icon>
                Productos
                <mat-icon class="menu-arrow-icons">keyboard_arrow_right</mat-icon>
            </a>
        </li>
    </ul>
</nav>