<nav id="menu">
    <ul>
        <li>
            <a routerLink="/">
                <mat-icon class="menu-icons">dashboard</mat-icon>
                Dashboard
                <mat-icon class="menu-arrow-icons">keyboard_arrow_right</mat-icon>
            </a>
        </li>
        <li>
            <a routerLink="/proveedores">
                <mat-icon class="menu-icons">assignment_ind</mat-icon>
                Proveedores
                <mat-icon class="menu-arrow-icons">keyboard_arrow_right</mat-icon>
            </a>
        </li>
        <li>
            <a routerLink="/marcas">
                <mat-icon class="menu-icons">copyright</mat-icon>
                Marcas
                <mat-icon class="menu-arrow-icons">keyboard_arrow_right</mat-icon>
            </a>
        </li>
        <li>
            <a routerLink="/productos">
                <mat-icon class="menu-icons">store</mat-icon>
                Productos
                <mat-icon class="menu-arrow-icons">keyboard_arrow_right</mat-icon>
            </a>
        </li>
        <li>
            <a routerLink="/categorias">
                <mat-icon class="menu-icons">category</mat-icon>
                Categorías
                <mat-icon class="menu-arrow-icons">keyboard_arrow_right</mat-icon>
            </a>
        </li>
        <li>
            <a routerLink="/presentaciones">
                <mat-icon class="menu-icons">local_convenience_store</mat-icon>
                Presentaciones
                <mat-icon class="menu-arrow-icons">keyboard_arrow_right</mat-icon>
            </a>
        </li>
    </ul>
</nav>