<mat-card id="indicator-container" 
    [ngClass]="{ 
                    'indicator-container-yellow': color == 'yellow', 
                    'indicator-container-red': color == 'red',
                    'indicator-container-blue': color == 'blue',
                    'indicator-container-purple': color == 'purple',
                    'indicator-container-green': color == 'green',
                    'indicator-container-grey': color == 'grey'
                }">
    
    <div id="inidicator-content">
        <div class="inidicator-icon-container">
            <mat-icon class="inidicator-icon">{{ icon }}</mat-icon>
        </div>
        <div class="inidicator-text-container">
            <h2>{{ header }}</h2>
            <div class="clearfix"></div>
            <label>{{ content }}</label>
        </div>
    </div>
</mat-card>