#new-brand-card-container {
    display: flex; flex-direction: column; align-items: center;
}

.nueva-marca-box {
    display: grid;
    grid-template-rows: 1fr, 2fr;
    width: 30%;

    button {
        width: 50%;
    }
}

.nueva-marca-input {
    width: 100%;
}