#nueva-presentation-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nueva-presentation-box {
    display: grid;
    grid-template-rows: 1fr, 2fr;
    width: 30%;

    button {
        width: 50%;
    }
}

.nueva-presentation-input {
    width: 100%;
}