<inventario-content-title [title]="title"></inventario-content-title>

<div id="nueva-presentation-card-container">
    <mat-card class="nueva-presentation-box">
        <form [formGroup]="nuevaPresentacion" (ngSubmit)="onSubmit()" class="nueva-presentation-form">
            <mat-form-field class="nueva-presentation-input" appearance="outline">
                <mat-label>Presentación</mat-label>
                <input matInput formControlName="presentacion">
                <mat-error *ngIf="nuevaPresentacion.get('presentacion')?.hasError('required')">El campo presentación es obligatorio</mat-error>
            </mat-form-field>
    
            <mat-form-field class="nueva-presentation-input" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="descripcion">
            </mat-form-field>
        </form>
        <button mat-raised-button color="accent" type="submit" [disabled]="!nuevaPresentacion.valid" (click)="onSubmit()">Guardar</button>
    </mat-card>
</div>