<inventario-content-title [title]="title"></inventario-content-title>

<div id="nuevo-proveedor-card-container">
    <mat-card class="nuevo-proveedor-box">
        <form [formGroup]="nuevoProveedor" class="nuevo-proveedor-form">
            <mat-form-field class="nuevo-proveedor-input" appearance="outline">
                <mat-label>Proveedor</mat-label>
                <input matInput formControlName="proveedor">
                <mat-error *ngIf="nuevoProveedor.get('proveedor')?.hasError('required')">El campo proveedor es obligatorio</mat-error>
            </mat-form-field>
    
            <mat-form-field class="nuevo-proveedor-input" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput type="email" formControlName="descripcion">
            </mat-form-field>
    
            <mat-form-field class="nuevo-proveedor-input" appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono">
            </mat-form-field>
    
            <mat-form-field class="nuevo-proveedor-input" appearance="outline">
                <mat-label>Correo</mat-label>
                <input matInput formControlName="correo">
            </mat-form-field>
        </form>
        <button mat-raised-button color="accent" type="submit" [disabled]="!nuevoProveedor.valid" (click)="onSubmit()">Guardar</button>
    </mat-card>
</div>