<inventario-content-title [title]="title"></inventario-content-title>

<div id="nueva-categoria-card-container">
    <mat-card class="nueva-categoria-box">
        <form [formGroup]="nuevaCategoria" (ngSubmit)="onSubmit()" class="nueva-categoria-form">
            <mat-form-field class="nueva-categoria-input" appearance="outline">
                <mat-label>Categoría</mat-label>
                <input matInput formControlName="categoria">
                <mat-error *ngIf="nuevaCategoria.get('categoria')?.hasError('required')">El campo categoría es obligatorio</mat-error>
            </mat-form-field>
    
            <mat-form-field class="nueva-categoria-input" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="descripcion">
            </mat-form-field>
        </form>
        <button mat-raised-button color="accent" type="submit" [disabled]="!nuevaCategoria.valid" (click)="onSubmit()">Guardar</button>
    </mat-card>
</div>