<inventario-content-title [title]="title"></inventario-content-title>

<div id="nuevo-producto-card-container">
  <mat-card class="nuevo-producto-box">
    <form [formGroup]="nuevoProducto" class="nuevo-producto-form">
        <mat-form-field class="nuevo-producto-input" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="producto">
            <mat-error *ngIf="nuevoProducto.get('producto')?.hasError('required')">El campo producto es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field class="nuevo-producto-input" appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcion">
        </mat-form-field>

        <mat-form-field class="nuevo-producto-input" appearance="outline">
          <mat-label>Cantidad</mat-label>
          <input matInput type="number" formControlName="cantidad">
      </mat-form-field>

        <mat-form-field class="nuevo-producto-input" appearance="outline">
            <mat-label>Precio de Compra</mat-label>
            <input matInput formControlName="precioCompra">
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-error *ngIf="nuevoProducto.get('precioCompra')?.hasError('required')">El campo precio de compra es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field class="nuevo-producto-input" appearance="outline">
            <mat-label>Precio de Venta</mat-label>
            <input matInput formControlName="precioVenta">
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-error *ngIf="nuevoProducto.get('precioVenta')?.hasError('required')">El campo precio de venta es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field class="nuevo-producto-input" appearance="outline">
            <mat-label>Marca</mat-label>
            <mat-select formControlName="marcaId">
                <mat-option *ngFor="let brand of brands" value="{{ brand.id }}" >
                  {{ brand.name }}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field class="nuevo-producto-input" appearance="outline">
            <mat-label>Proveedor</mat-label>
            <mat-select formControlName="proveedorId">
                <mat-option *ngFor="let provider of providers" value="{{ provider.id }}" >
                  {{ provider.name }}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field class="nuevo-producto-input" appearance="outline">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="categoriaId">
                <mat-option *ngFor="let category of categories" value="{{ category.id }}" >
                  {{ category.name }}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field class="nuevo-producto-input" appearance="outline">
            <mat-label>Presentación</mat-label>
            <mat-select formControlName="presentacionId">
                <mat-option *ngFor="let presentation of presentations" value="{{ presentation.id }}" >
                  {{ presentation.name }}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field class="nuevo-producto-input" appearance="outline">
            <mat-label>Código de Barras</mat-label>
            <input matInput formControlName="codigoBarras">
            <mat-error *ngIf="nuevoProducto.get('codigoBarras')?.hasError('required')">El campo código de barras es obligatorio</mat-error>
        </mat-form-field>
    </form>
    <button mat-raised-button color="accent" type="submit" [disabled]="!nuevoProducto.valid" (click)="onSubmit()">Guardar</button>
</mat-card>
</div>