#editar-producto-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editar-producto-box {
    display: grid;
    grid-template-rows: 1fr, 2fr;
    width: 50%;

    button {
        width: 50%;
    }

    .editar-producto-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
}

.editar-producto-input {
    width: 100%;
}