.editar-producto-box {
    display: grid;
    grid-template-rows: 1fr, 2fr;
    width: 30%;

    button {
        width: 50%;
    }

    .editar-producto-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
}

.editar-producto-input {
    width: 100%;
}