<inventario-content-title [title]="title"></inventario-content-title>

<div id="editar-producto-card-container">
  <mat-card class="editar-producto-box">
    <form class="editar-producto-form" [formGroup]="editProducto">
        <mat-form-field class="editar-producto-input" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="producto">
        </mat-form-field>

        <mat-form-field class="editar-producto-input" appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcion">
        </mat-form-field>

        <mat-form-field class="editar-producto-input" appearance="outline">
            <mat-label>Precio de Compra</mat-label>
            <input matInput formControlName="precioCompra">
        </mat-form-field>

        <mat-form-field class="editar-producto-input" appearance="outline">
            <mat-label>Precio de Venta</mat-label>
            <input matInput formControlName="precioVenta">
        </mat-form-field>

        <mat-form-field class="editar-producto-input" appearance="outline">
            <mat-label>Marca</mat-label>
            <mat-select formControlName="marcaId">
                <mat-option *ngFor="let brand of brands" [value]="brand.id" >
                  {{ brand.name }}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field class="editar-producto-input" appearance="outline">
            <mat-label>Proveedor</mat-label>
            <mat-select formControlName="proveedorId">
                <mat-option *ngFor="let provider of providers" [value]="provider.id" >
                  {{ provider.name }}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field class="editar-producto-input" appearance="outline">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="categoriaId">
                <mat-option *ngFor="let category of categories" [value]="category.id" >
                  {{ category.name }}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field class="editar-producto-input" appearance="outline">
            <mat-label>Presentación</mat-label>
            <mat-select formControlName="presentacionId">
                <mat-option *ngFor="let presentation of presentations" [value]="presentation.id" >
                  {{ presentation.name }}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field class="editar-producto-input" appearance="outline">
            <mat-label>Código de Barras</mat-label>
            <input matInput formControlName="codigoBarras">
        </mat-form-field>
    </form>
    <button mat-raised-button color="accent" type="submit" (click)="onSubmit()">Guardar</button>
</mat-card>
</div>