<div id="website">
  <div id="logo">
    <h2>[LOGO]</h2>
    <!--<img src="../assets/942.png" style="width: 100%; height: 100%;" >-->
  </div>
  <div id="empty-bar">
    <a routerLink="/">
      <mat-icon>settings</mat-icon>
    </a>
  </div>
  <div id="usuario-actual">
    <inventario-current-user id="usuario-actual-container"></inventario-current-user>
  </div>
  <div id="menu-lateral">
    <inventario-menu-lateral></inventario-menu-lateral>
  </div>
  <div id="options-logout">
    <inventario-logout-options></inventario-logout-options>
  </div>
  <div id="content">
    <div id="loading-screen">
      <mat-spinner></mat-spinner>
    </div>
    <div id="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>