<div id="website">
  <div id="logo">
    <h2>Inventario</h2>
  </div>
  <div id="empty-bar">

  </div>
  <div id="usuario-actual">
    <inventario-current-user id="usuario-actual-container"></inventario-current-user>
  </div>
  <div id="menu-lateral">
    <inventario-menu-lateral></inventario-menu-lateral>
  </div>
  <div id="content">
    <div id="loading-screen">
      <mat-spinner></mat-spinner>
    </div>
    <div id="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>