.presentations-table {
    width: 100%;
}

.presentations-header-cell {
    text-align: right;
}

.presentation-list-icons {
    text-decoration: none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.presentation-list-icons-edit {
    mat-icon {
        color: #007AAE;
        padding-bottom: 3px;
    }
}

.presentation-list-icons-delete {
    mat-icon {
        color: #D63737;
        cursor: pointer;
        padding-bottom: 3px;
    }
}

.presentation-list-icons-new {
    color: #11ac02;
}

.presentation-list-options-column {
    text-align: end;
}

.options-button {
    padding: 0px;
    min-width: 35px;
}