<inventario-content-title [title]="title"></inventario-content-title>

<div id="editar-proveedor-card-container">
    <mat-card class="editar-proveedor-box">
        <form class="editar-proveedor-form" [formGroup]="editProvider">
            <mat-form-field class="editar-proveedor-input" appearance="outline">
                <mat-label>Proveedor</mat-label>
                <input matInput formControlName="proveedor">
                <mat-error *ngIf="editProvider.get('proveedor')?.hasError('required')">El campo proveedor es obligatorio</mat-error>
            </mat-form-field>
    
            <mat-form-field class="editar-proveedor-input" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="descripcion">
            </mat-form-field>
    
            <mat-form-field class="editar-proveedor-input" appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono">
            </mat-form-field>
    
            <mat-form-field class="editar-proveedor-input" appearance="outline">
                <mat-label>Correo</mat-label>
                <input matInput formControlName="correo">
            </mat-form-field>
        </form>
        <button mat-raised-button color="accent" type="submit" (click)="onSubmit()">Guardar</button>
    </mat-card>
</div>