<inventario-content-title [title]="title"></inventario-content-title>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 brands-table">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="-">
        <th mat-header-cell *matHeaderCellDef class="brands-header-cell">
            <a routerLink="/marcas/nuevo" class="brand-list-icons brand-list-icons-new">
                <mat-icon>add_box</mat-icon>
            </a>
        </th>
        <td mat-cell *matCellDef="let element" class="brand-list-options-column">
            <a routerLink="/marcas/editar/{{element.brandId}}" class="brand-list-icons brand-list-icons-edit">
                <mat-icon>edit</mat-icon>
            </a>
            <a (click)="openDialog()" class="brand-list-icons brand-list-icons-delete">
                <mat-icon>delete</mat-icon>
            </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>