#sales-search-item {
    margin-top: 6px;

    mat-form-field {
        width: 100%;

        .mat-form-field-wrapper {
            padding: 0px;
            padding-bottom: 5px;

            .mat-form-field-flex {
                .mat-form-field-outline, .mat-form-field-outline-thick {
                    color: #384651;
                }

                .mat-form-field-infix {
                    .mat-form-field-label-wrapper {
                        .mat-form-field-label {
                            color: #384651;
                        }
                    }
                }
            }
        }
    }
}