<inventario-content-title [title]="title"></inventario-content-title>

<div id="editar-categoria-card-container">
    <mat-card class="editar-categoria-box">
        <form class="editar-categoria-form" [formGroup]="editCategory">
            <mat-form-field class="editar-categoria-input" appearance="outline">
                <mat-label>Categoría</mat-label>
                <input matInput formControlName="categoria">
                <mat-error *ngIf="editCategory.get('marca')?.hasError('required')">El campo marca es obligatorio</mat-error>
            </mat-form-field>
    
            <mat-form-field class="editar-categoria-input" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="descripcion">
            </mat-form-field>
        </form>
        <button mat-raised-button color="accent" type="submit" (click)="onSubmit()">Guardar</button>
    </mat-card>
</div>