<inventario-content-title [title]="title"></inventario-content-title>

<div id="editar-presentation-card-container">
    <mat-card class="editar-presentation-box">
        <form class="editar-presentation-form" [formGroup]="editPresentation">
            <mat-form-field class="editar-presentation-input" appearance="outline">
                <mat-label>Presentación</mat-label>
                <input matInput formControlName="presentacion">
                <mat-error *ngIf="editPresentation.get('presentacion')?.hasError('required')">El campo presentación es obligatorio</mat-error>
            </mat-form-field>
    
            <mat-form-field class="editar-presentation-input" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="descripcion">
            </mat-form-field>
        </form>
        <button mat-raised-button color="accent" type="submit" (click)="onSubmit()">Guardar</button>
    </mat-card>
</div>
