<inventario-content-title [title]="title"></inventario-content-title>

<table mat-table #providersTable providersTable matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="mat-elevation-z8 providers-table">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="-">
        <th mat-header-cell *matHeaderCellDef class="providers-header-cell">
            <a routerLink="/proveedores/nuevo" class="providers-list-icons providers-list-icons-new">
                <mat-icon>add_box</mat-icon>
            </a>
        </th>
        <td mat-cell *matCellDef="let element" class="providers-list-options-column">
            <button class="options-button" mat-flat-button color="accent" [matMenuTriggerFor]="menu">
                <mat-icon>calendar_view_day</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <a mat-menu-item routerLink="/proveedores/editar/{{element.id}}" class="providers-list-icons providers-list-icons-edit">
                    Editar <mat-icon>edit</mat-icon>
                </a>
                <a mat-menu-item (click)="openDialog(element.id)" class="providers-list-icons providers-list-icons-delete">
                    Eliminar <mat-icon>delete</mat-icon>
                </a>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>